<h2>Edit page</h2>

{{#if todos.length}}


<ul>
    {{#each todos}}
    <li class="todo">
        <form action="/edit" method="POST">
            <label>
                {{!-- <input name="_method" type="hidden" value="PUT"> --}}
                <input type="text" name="title" value="{{ this.title }}"/>
                <input type="hidden" value="{{this.id}}" name="id">

                <div class="btns">
                    <button type="submit" class="btn btn-small">Save</button>
                </div>
            </label>
        </form>
    </li>

    {{/each}}
</ul>

{{else}}
<p>No todos</p>
{{/if}}
